extends layout

block content



    img.logo(src="logo-white.png")
    #container
    #crosshair
        img(src="crosshair.png")

    nav.bar-tab
      ul.tab-inner
        li.tab-item.active
          a(href="")
            img.tab-icon(src="/public/textures/brick.png")
            .tab-tabel Brink
        li.tab-item
          a(href="")
            img.tab-icon(src="/public/textures/crate.png")
            .tab-tabel Brink

