extends layout

block content
    img.logo(src="logo-white.png")
    #container
    #crosshair
        img(src="crosshair.png")

    nav.bar-tab
      ul.tab-inner
        li.tab-item.active
          a(href="")
            img.tab-icon(src="/public/textures/brick.png")
            .tab-tabel Brink
        li.tab-item
          a(href="")
            img.tab-icon(src="/public/textures/crate.png")
            .tab-tabel Brink
    .chat-window
      .chat-pre
        .chat-line Hello everyone, welcome to the voxedl world
      input#chat-input.chat-input(type='text')
